html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* FONT */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway Dots', cursive;
}

p, a {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 10rem;
    color: rgb(80, 61, 62);
    margin: 10rem auto;
}

h2 {
    color: #333;
    font-size: 3.5rem;
}

h3 {
    color: #555;
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* GLOBAL */

html {
    font-size: 62.5%;
}

body {
    text-align: center;
    margin: 0;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}
.wrapper2 {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
img {
    width: 100%;
    height: auto;
}

/* HEADER */

.rippleEffect {
    margin: 0 0 2rem;
    padding: 2rem 0;
    background-color: rgba(238, 232, 250, 0.726);
    background-image: url(img/heroIMG3.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
}

.h1Line {
    font-size: 5rem;
    color: rgb(189, 142, 149);
}

/* ABOUT ME */

.about {
    width: 75%;
    background-color: #fff;
    border-radius: 1.5%;
    display: grid;
    grid-template-columns: 65% 25%;
    grid-gap: 3em;
    box-shadow: 0 15px 55px #aaa;
    text-align: left;
    padding: 6rem;
    margin: 6rem auto 10rem auto;
    justify-content: space-between;
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}
.about.visible {
    opacity: 1;
    transform: translate(0, 0);
}

.about h2,
.about p,
.about nav{
    grid-column: 1/2;
}

.aboutImg{
    grid-column: 2/3;
    grid-row: 1/4;
    border-radius: 25%;
    padding-top: 2rem;
}
 .about img {
    border-radius: 50%; 
 }

 .socialMedia ul{
    display: flex;
    margin-left: -8%;
 }
 .socialMedia li {
     margin: 1.5rem;
     font-size: 2rem;
 }
    
/* MY SERVICES */
/* LAYOUT */
.myServices{
    margin: 45rem auto 6rem auto;
}
.myServicesLine{
    margin-top: 0;
}
.myServices h2,
.myServices p{
    line-height: 2rem;
}
.myServicesGrid {
    display: grid;
    grid-template-columns: 30% repeat(3);
    grid-gap: 1rem;
}
.cardFlip1,
.cardFlip2,
.cardFlip3{
    grid-row: 1/2;
}


/* Flipping AnimationCSS */
/* Credit to W3C School */
.serviceCardFlip {
    background-color: transparent;
    width: 350px;
    height: 250px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    margin-top: 6rem;
  }
  
  .serviceCardFlipInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.5s;
    transform-style: preserve-3d;
  }
  
  .serviceCardFlip:hover .serviceCardFlipInner {
    transform: rotateX(180deg);
  }
  
  .cardFront, .cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
    
  .cardBack {
    transform: rotateX(180deg);
    background-color: rebeccapurple;
    color: #fff;
    padding: 2rem;
  }
  .cardBack h3{
      color: #fff;
  }


footer {
    padding: 2rem 0;
}

/* MEDIA QUERIES */
@media(max-width: 600px){
    .about {
        text-align: center;
        width: 95%;
        padding: 3rem;
        margin: 2rem auto;
        grid-template-columns: 100%;
    }
    .aboutImg{
        grid-column: 1/2;
        order: -1;
        width: 80%;
    }
    .socialMedia {
        align-items: center;
    }
}
